header{
    background: url(../image/Bitmap.svg);
    width: 100%;
    height: 1015px;
    background-repeat: round;
}

body{
    margin: 0px;
}

.container-line{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.text1{
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text2{
    color: #FFF;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 74px; /* 123.333% */
}

.text3{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.text-link{
    color: #FFD723;
    font-family: FontAwesome;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.container-text{
    display: flex;
    width: 616px;
    flex-wrap: wrap;
    margin-top: 130px;
}
.container-new{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px 15%;
}

.title-1{
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0px;
    text-align: left;
    color: #4D533C;
    width: 607px;
}

.text-1{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: left;
    color: #4D533C;
}

.text-2{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    color: #21384299;
}

.text-link{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color:  #D4D6D4;
}

.text-link-active{
    color:  #FFD723;
}

.container-block{
    display: flex;
}

.block-text{
    height: 309px;
    width: 255px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 0px 30px;
}

.mr-r{
    margin-right: 30px;
}

.footer{
    margin-top: 326px;
    background-color: #4F553D !important;
    width: 100%;
    height: 920px;
    display: flex;
    align-items: flex-end;
}
.img-back{
    background: url(../image/Bitmapback.svg);
    width: 100%;
    height: 692px;
    background-repeat: round;
}

.address{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
    color: #B6C197;
}

.info-line{
    display: flex;
}

.info-text{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
    color: white;
    margin-bottom: 21px;
    margin-top: 0px;
}

.d-flex{    
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 10%;
}

.column{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    align-items: flex-start;
}

.hr-color{
    background-color: #B6C197;
    opacity: 0.3;
}

.hr-block{
    display: flex;
    height: 210px;
}

.address p{
    margin: 0px;
}

.fs{
    font-size: 24px;
    margin: 24px 0px 24px 0px !important;
}

.img-logo-footer img{
    margin-right: 10px;
}

.cir-1{
    height: 33px;
    width: 33px;
    border-radius: 50%;
    background-color: #444A34;
}


.popup{
    background: #f8f8f8;
    height: 326px;
    width: 80%;
    position: absolute;
    bottom: auto;
}

@media screen and  (max-width: 980px) {
    header{
        height: 100%;
        background-repeat: space;
    }
    .container-new{
        max-width: 980px !important;
        padding: 0px 25px !important;
    }
    .text-2{
        font-size: 24px;
        line-height: 34px;
    }
    .container-text{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 60px;
    }
    .text-link{
        margin-bottom: 30px;
    }
    .title-1{
        font-family: Poppins;
        font-size: 26px;
        width: 100%;
    }

    .block-text{
        width: 100%;
        height: 100%;
    }
    
    .popup{
        height: 100%;
        width: 100%;
    }
    .info-text{
        font-size: 14px;
    }
    .hr-block{
        display: none;
    }
    .column{
        flex-wrap: wrap;
        margin-top: 10px;
    }

    .img-back{
        height: 800px;
        background-repeat: space;
        display: flex;
        align-items: flex-end;
    }
    .column4{
        margin-bottom: 50px;
    }

}